.cv-list-container {
    max-width: 600px;
    margin: 100px auto;
    text-align: center;
  }
  
  .cv-list-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .cv-list-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cv-list-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cv-list-button:hover {
    background-color: #45a049;
}

.download-button {
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.download-button:hover {
    background-color: #007B9D;
}


.cv-button-image {
    width: 150px;
    height: auto;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    border: 2px solid transparent;
}

.cv-button-image:hover {
    transform: translateY(-5px) scale(1.05) rotate(-2deg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-color: #007bff;
}


.cv-button-container{
    text-align: center;

}

@media (max-width: 768px) {
    .cv-list-buttons {
      flex-direction: column; 
      align-items: center; 
    }
  
    .cv-list-button,
    .download-button {
      width: 100%; 
      max-width: 300px; 
    }
  }