/* Styles de base pour .education-container */
.education-container {
  margin: 40px;
  padding: 20px;
  max-width: 800px;
  border: 2px solid #007bff;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

/* Styles pour le titre de la section */
.education-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Styles pour les groupes de formulaire */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="date"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Styles pour le bouton de soumission */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Styles pour les éducations ajoutées */
.added-educations {
  margin-top: 20px;


}

/* Styles pour chaque élément d'éducation */
.education-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.education-item p {
  margin: 5px 0;
}

.education-item button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.education-item button:hover {
  background-color: #0056b3;
}

/* Media Query pour les écrans plus petits */
@media screen and (max-width: 600px) {
  .education-container {
      margin: 20px auto; /* Réduire la marge */
      padding: 10px; /* Réduire le rembourrage */
  }
}