/* Styles de base pour .language-container */
.language-container {
    margin: 40px;
    padding: 20px;
    max-width: 800px;
    border: 2px solid #007bff;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

/* Styles pour le titre de la section */
.language-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Styles pour les groupes de formulaire */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

/* Styles pour les champs de formulaire */
input[type="text"],
input[type="date"],
select {
    width: 100%; /* Utilise la largeur totale */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    box-sizing: border-box; /* Inclut le padding dans la largeur */
}

/* Styles pour les boutons de soumission */
button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Styles pour les langues ajoutées */
.added-languages {
    margin-top: 20px;
 
}

/* Styles pour chaque élément de langue */
.language-item {
    border: 1px solid #007bff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.language-item p {
    margin: 10px 0;
}

.language-item button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.language-item button:hover {
    background-color: #0056b3;
}

.language-item button.delete {
    background-color: #dc3545;
}

.language-item button.delete:hover {
    background-color: #bd2130;
}

/* Media Query pour les écrans plus petits */
@media screen and (max-width: 600px) {
    .language-container {
        margin: 20px auto; /* Réduire la marge */
        padding: 10px; /* Réduire le padding */
    }
}