/* Styles de base pour .navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #2ea3dd, #1f212d); /* Dégradé de bleu */
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  z-index: 1000; /* Assure que la barre de navigation reste au-dessus du contenu */
}

/* Styles pour .navbar-left */
.navbar-left {
  display: flex;
  align-items: center;
}

/* Styles pour le titre dans .navbar-left */
.navbar-left h1 {
  margin: 0;
  font-size: 24px;
  transition: color 0.3s ease;
}

/* Styles pour .navbar-right */
.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Ajoute un espace entre .navbar-left et .navbar-right */
}

/* Styles pour les éléments de liste dans .navbar-right */
.navbar-right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; /* Aligne les éléments de liste verticalement */
}

/* Styles pour chaque élément de liste dans .navbar-right */
.navbar-right ul li {
  margin-right: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Change la couleur du texte au survol */
.navbar-right ul li:hover {
  color: #ffd700;
}

/* Styles pour l'input dans .navbar-right */
.navbar-right input:focus {
  width: 100px;
  outline: none;
  background-color: #555;
}

/* Media Query pour les écrans plus petits */
@media screen and (max-width: 768px) {
  /* Réorganiser la disposition de la barre de navigation */
  .navbar {
      flex-direction: column;
      padding: 10px;
  }

  /* Ajuster les styles de .navbar-left */
  .navbar-left {
      margin-bottom: 10px;
  }

  /* Ajuster les styles de .navbar-right */
  .navbar-right {
      margin: 0;
  }

  /* Ajuster les styles des éléments de liste dans .navbar-right */
  .navbar-right ul li {
      margin-right: 0;
  }
}
