/* Styles de base pour .personal-container */
.personal-container {
  margin: 40px;
  padding: 20px;
  max-width: 800px;
  border: 2px solid #007bff;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

/* Styles pour le titre de la section */
.personal-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Styles pour les groupes de formulaire */
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
}

/* Styles pour les champs de formulaire */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
textarea {
  width: 100%; /* Utilise la largeur totale */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
  box-sizing: border-box; /* Inclut le padding dans la largeur */
}

/* Styles pour les boutons de soumission */
button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Styles pour les éléments ajoutés */
.added-personals {
  margin-top: 20px;
}

/* Styles pour chaque élément ajouté */
.personal-item {
  border: 1px solid #007bff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.personal-item p {
  margin: 10px 0;
}

.personal-item button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.personal-item button:hover {
  background-color: #0056b3;
}

.personal-item button.delete {
  background-color: #dc3545;
}

.personal-item button.delete:hover {
  background-color: #bd2130;
}

/* Media Query pour les écrans plus petits */
@media screen and (max-width: 600px) {
  .personal-container {
      margin: 20px auto; /* Réduire la marge */
      padding: 10px; /* Réduire le padding */
  }
}

.profile-image {
  width: 100px; /* Largeur de l'image */
  height: 100px; /* Hauteur de l'image */
  border-radius: 50%; /* Arrondit l'image en un cercle */
  object-fit: cover; /* Conserve les proportions de l'image */
}
